.reportTitle {
  margin: 0;
}

.tooltipContent {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tooltipTitle {
  font-weight: bold;
}

.tooltipValue {
  font-size: 0.9rem;
  font-weight: bold;
}
