@use "src/scss/globals";

.categoriesAndGoalsListing {
  overflow: hidden;
  margin-top: 1rem;
  height: 100%;

  @media screen and (min-width: globals.$md) {
    height: 100%;
  }

  > :global(.sectionHeading) {
    margin-bottom: 1rem;
  }
}
