.mainLayout {
  height: 100%;
  overflow: hidden;
  display: flex;
  gap: 4rem;

  > :global(.sectionHeading) {
    margin-bottom: 0.6rem;
  }

  .sidePanel {
    width: 33%;
  }

  .mainPanel {
    width: 67%;

    :global {
      .ant-table-wrapper {
        height: 92%;
      }
      .ant-spin-nested-loading,
      .ant-spin-container {
        height: 100%;
        overflow: hidden;
      }
      .ant-table {
        height: 85%;
        overflow: auto;
      }
    }
  }
}
