.headerContainer {
  height: 10%;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  border-bottom: 2px solid #e5e8eb;
  background-color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;

  :global {
    .ant-image {
      height: 45%;
      min-height: 1.2rem;
    }
  }

  .productName {
    margin: 0;
    line-height: 1;
  }

  .logo {
    height: 100% !important;
    width: auto !important;
    display: block;
    top: 0;
  }
}
