.headerContainer {
  height: 6vh;
  padding: 1rem 0.6rem 1.2rem 0.6rem;
  border-bottom: 2px solid #e5e8eb;

  :global {
    .ant-image {
      height: 100%;
    }
  }
}

.logo {
  height: 100% !important;
}
