.progressIndicatorInfo {
  display: flex;
  justify-content: space-between;

  .targetAndActionButtonsContainer {
    display: flex;
    gap: 1rem;

    .actionButtonsContainer {
      gap: 1rem;
      display: flex;
    }
  }
}
